#main-content {
  transition: margin-left .5s;
  padding: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  margin-left: 250px; /* Space for the sidebar */
}
